@media screen and (min-width: 425px) {
    #advice-text::after {
        left: 10%;
    }

    #button {
        left: 41%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 50vw;
    }

    #advice-text::after {
        left: 11%;
    }
    #button {
        left: 41.5%;
    }
}

@media screen and (min-width: 1024px) {
        .container {
        width: 40vw;
    }

    #advice-text::after {
        left: 13%;
    }

    #button {
        left: 42%;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 40vw;
    }

    #advice-text::after {
        content: url('../images/pattern-divider-desktop.svg');
        left: 10%;
    }

    #button {
        left: 43%;
    }
}

@media screen and (min-width: 1506px) {
    .container {
        width: 30vw;
    }

    #advice-text::after {
        content: url('../images/pattern-divider-mobile.svg');
        left: 15%;
    }

    #button {
        left: 41%;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        width: 30vw;
    }

    #advice-text::after {
        content: url('../images/pattern-divider-mobile.svg');
        left: 17%;
    }

    #button {
        left: 41%;
    }
}
